p{
    width: 70%;
    background-color: gray;
    padding: 10px;
    position: relative;
}

/*p::after{
    content: " testAfter";
}*/

p::before{
    content: "";
    height: 5px;
    width: 100%;
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
}